[project]
	description = librarymanagement
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kosal1
[access "refs/for/refs/*"]
	read = group user/kosal1
	push = group user/kosal1
	label-Code-Review = -2..+2 group user/kosal1
	label-Verified = -1..+1 group user/kosal1
	rebase = group user/kosal1
	removeReviewer = group user/kosal1
	submit = group user/kosal1
[access "refs/heads/*"]
	read = group user/kosal1
	create = group user/kosal1
	push = +force group user/kosal1
	pushMerge = group user/kosal1
[access "refs/tags/*"]
	push = +force group user/kosal1
	pushTag = group user/kosal1
	pushSignedTag = group user/kosal1
